*{
    margin: 0 auto;
    margin: 0;
    padding: 0;

}
body{
    margin: 0 auto;
    width: 780px;

    background: url("../images/bg.gif");

}
#warp{
    width: 780px;
    border: thin solid yellow;
    
}
#header{
    
    width: 780px;
    height: 125px;
    background-image: url("../images/header.jpg");
    font-size: 25px;
    color: white;
    text-align: right;
}
#topnav{
    margin: 0 auto;
    width: 780px;
    height: 35px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 15px;
}
#topnav ul ol{
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 8px 15px;
    float: left;
    list-style: none;   
    color: black; 
    border: thin solid yellow;
}
#news_right{
    float: right;
    width: 200px;
    height: 350px;
    text-align: left;
    background-color: #00ffff;
    font-size: 12px;
}
#news_right img{
    float: left;
}
#main{
    margin: 0 auto;
    width: 780px;
    text-align: left;
    border: thin solid yellow;
}
h3{
    color: blue;
}
#footer{
    text-align: center;
    color: yellow;
    border: thin solid yellow;
}
