body{background: black;}
table{
    background: white;
    width: 760px;
    font:12px;
}
.index{
    text-align: right;
    font-size: 13px;
    background: yellow;
}
.three{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/mypic_bg.gif);
}
.index2{
    background: url(../images/leftbg.jpg);
    text-align: center;
    font-weight: bold;
    font: 13px;
}
.project_item2{
    list-style-image: url("../images/icon1.gif");
    border-style: 6px;
    list-style-position: inside;
    list-style-type: disc;
    padding: 6px;
}
#project_item1{
    list-style-position: inside;
    list-style: none;
    padding: 6px;
}
a:link{
    text-decoration: none;
    color: #09f;
}
a:visited{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
    color: #03f;
    font-size: 130%;
}
a:active{
    text-decoration: none;
    color: #03f;
}
.date{
    text-align: right;
}
.function{
    text-align: right;
}
.detail1{
    line-height: 1.5em;
}